*{
	box-sizing: border-box;
}

body{
	width: 100%;
	height: 100%;
	margin: 0;
	padding: 0;
	line-height: 1.2; 
	background-color: #111;
	color: white;
	font-family: monospace,sans-serif,serif;
	font-size: 18px;
}
p{
    padding: 1em;
}

h1{
	text-align: center;
}

nav a:hover{
    background-color: #E18A07
}


/* DROP DOWN MENU HOVER */
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #111;
}

li {
    float: left;
}

li a, .dropbtn {
    display: inline-block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover, .dropdown:hover .dropbtn {
    background-color: #db8606;
}

li.dropdown {
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #111;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a {
    color: white;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

.dropdown-content a:hover {background-color: #db8606}

.dropdown:hover .dropdown-content {
    display: block;
}

.topMenu{
    text-align: center;
    
}

/* GIFS */

.gifs{
    display: flex;
    margin-right: auto;
    margin-left: auto;
    white-space: nowrap;
}





/* FOOTER */

.flexbot{
    display: flex;
    flex-flow: row;
    
    justify-content: center;
    justify-content: space-around;
    max-width: 600px;
    margin-left: auto;
    margin-right: auto;
}

.flexbot a{
    color: #FFF;
}
a:hover{
    background-color: red;
}

.resize{
    width:540px; /* you can use % */
}

/* PARALLAX */

.parallax { 
    /* The image used */
    background-image: url("../img/ds3.jpg");

    /* Set a specific height */
    height: 500px; 

    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}


.resize{
    margin-left: auto;
    margin-right: auto;
    height:auto;
}



.mainContent{
    width: 100%;
    
}
.borderbox {

    border: 2px solid red;
    padding: 1em;
    border: 2px solid #db8606;
    background-color: #111;
}
.parallaxtwo { 
    /* The image used */
    background-image: url("../img/ds.jpg");

    /* Set a specific height */
    height: 500px; 

    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.parallaxthree { 
    /* The image used */
    background-image: url("../img/dswolf.jpg");

    /* Set a specific height */
    height: 500px; 

    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.mainContent{
    width: 100%;
}
.Hugleft {
    text-align: left;
}
.Hugcenter{
    text-align: center;
}




/* MOBILE */
@media screen and (min-width: 30em){
	/* Turn off parallax scrolling for tablets and phones. Increase/decrease the pixels if needed */
	.parallax {
        background-attachment: scroll;
    }
}

/* SPJALD */
@media screen and (min-width: 48em){
	.parallax {
        background-attachment: scroll;
    }
}

/* HOLY GRAIL */
@media screen and (min-width: 60em){
}